@model GamesApp_Correction_DevenirDev2.Models.UpdateGameDTOs

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>UpdateGameDTOs</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" type="number" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group p-3 my-3 d-flex justify-content-evenly">
                <input type="submit" value="Save" class="btn btn-outline-primary" />
                <a asp-controller="Game" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-outline-danger">Delete</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
